./.RData
./.DS_Store
./.Rhistory
./*.Rproj
./.Rproj.user

./app_secrets.json
./data/.fb_token

./data/*
./data/backup/*

./helpers/depricated/*

./literature/*
./organization/*
.Rproj.user
writeup/*
literature/*
organization/*
plots/*
helpers/depricated/*
